
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fdfbff;
    color: #333;
}


.navbar {
    background-color: #5e60ce;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.navbar div {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.navbar div:hover {
    color: #ffd6ff;
    transform: scale(1.05);
}


.main {
    display: flex;
    align-items: flex-start;
    padding: 40px;
}


.photo {
    width: 140px;
    height: 140px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}



.intro {
    font-size: 20px;
    padding-top: 20px;
    color: #4b4453;
}


.contact {
    margin-top: 60px;
    text-align: center;
    padding: 30px;
    background-color: #e0aaff;
    color: white;
    font-size: 18px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
